{% load static %}
<!DOCTYPE html>
<html style="width: 100%; height: 100%" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XBRL Table</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'xbrl_table.css' %}"
    />
  </head>
  <body>
    <div class="page">
      <div class="upload_button">
        <form
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'xbrl_table' %}"
          id="upload-form"
          style="padding: 10px; cursor: pointer; margin-top: 5px"
        >
          {% csrf_token %}
          <div style="position: relative; display: inline-block">
            <input
              type="file"
              name="file"
              id="file-input"
              style="display: none"
            />
            <label for="file-input" style="cursor: pointer; display: flex">
              <img
                src="{% static 'upload.svg' %}"
                alt="Upload"
                style="cursor: pointer; padding-right: 5px"
              />
              Select Files
            </label>
          </div>
        </form>
      </div>
      <div class="left_main_div">
        <div class="logo">
          <img src="{% static 'pepper-logo.svg' %}" alt="Logo" />
        </div>
        <div class="Column_div">
          <b>Columns</b>
          {% for header in data.0.keys %}
          <div
            class="column-box"
            draggable="true"
            ondragstart="drag(event)"
            data-type="column"
          >
            <span>{{ header|linebreaksbr }}</span>
          </div>
          {% endfor %}
          <br /><br /><br /><br /><br /><br />
        </div>
      </div>
      <div class="right_main_div">
        <div style="display: flex; flex-direction: column; align-items: center">
          <div class="onPepper">
            <div style="display: flex; justify-content: center; align-items: center"></div>
            <div class="onPepper">
              <h1>Model Building Engine</h1>
            </div>
          </div>
        </div>
        <div class="drop_and_graph">
          <div class="parent_div">
            <div class="poora_box">
              <div class="checkbox">
                <label for="myCheckbox">Save expression</label>
                <input type="checkbox" id="myCheckbox" />
              </div>
              <div class="drop_box_cum_expression" id="dropZone">
                <h3>Expression:</h3>
                <div class="sting_holder">
                  <input
                    type="text"
                    id="expressionInput"
                    placeholder="Drag and drop column and operator here"
                  />
                  <div>
                    <button type="button" id="clearExpressionList" onclick="clearExpressionList()">
                      Clear
                    </button>
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center">
                  <button type="button" id="submitExpressionBtn">Submit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="graph_image" id="graphImageDiv" style="display: none">
            <iframe id="graph-iframe"></iframe>
          </div>
        </div>
      </div>
    </div>
    <script>
      let expression = "";
      let columnDropped = false;
      document.getElementById("file-input").addEventListener("change", function () {
        document.getElementById("upload-form").submit();
      });

      const submitExpressionBtn = document.getElementById("submitExpressionBtn");
      const clearBtn = document.getElementById("clearExpressionList");
      const graphImageDiv = document.getElementById("graphImageDiv");

      if (expression === "") {
        clearBtn.style.display = "none";
      }

      const dropZone = document.getElementById("dropZone");
      const expressionInput = document.getElementById("expressionInput");

      dropZone.addEventListener("dragover", function (event) {
        event.preventDefault();
      });

      dropZone.addEventListener("drop", function (event) {
        event.preventDefault();
        const draggedData = event.dataTransfer.getData("text/plain").trim(); // Remove leading/trailing spaces
        const dataType = event.dataTransfer.getData("data-type");

        expression += draggedData;
        expressionInput.value = expression;
        console.log(expression);
        console.log(expressionInput);

        if (expression !== "") {
          clearBtn.style.display = "initial";
        } else {
          clearBtn.style.display = "none";
        }

        expressionInput.value = expression; // Update the expression in the text input
      });

      expressionInput.addEventListener("input", function (event) {
        const inputText = event.target.value; // Remove leading/trailing spaces
        expression = inputText;
      });

      function drag(event) {
        event.dataTransfer.setData("text/plain", event.target.textContent);
        event.dataTransfer.setData("data-type", event.target.getAttribute("data-type"));
      }

      function clearExpressionList() {
  expression = "";
  columnDropped = false;
  expressionInput.value = "";
}

      submitExpressionBtn.addEventListener("click", function () {
        // Send the expression list to the backend
        submitExpressionList(expression);
        clearBtn.style.display = "none";
        graphImageDiv.style.display = "block";
      });

      async function submitExpressionList(expression) {
        const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

        try {
          const response = await fetch("/submit-expression", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken,
            },
            body: JSON.stringify({ expressionList: expression }),
          });

          if (!response.ok) {
            throw new Error("Network response was not ok");
          }

          const data = await response.json();
          const plotHtml = data.plot_html;
          const expressionString = data.expression_string;

          // Get the expression div element
          const expressionDiv = document.getElementById("expressionDiv");

          // Set the expression string as the inner HTML of the div
          // expressionDiv.innerHTML = expressionString;

          // Get the iframe element
          const iframe = document.getElementById("graph-iframe");

          // Set the HTML content of the iframe
          iframe.contentDocument.open();
          iframe.contentDocument.write(plotHtml);
          iframe.contentDocument.close();

          // Clear the expression list and reset variables
          clearExpressionList();
        } catch (error) {
          console.error("Error:", error);
        }
      }
    </script>
  </body>
</html>
